#img  {
    height:  28%;
    width:  28%;
    position:relative;
    }

.Texto {
    position: relative;
    width: 330px;
    height: 240px;
    font-family: Lato;
    font-size: 0.78cm;
    line-height: 60px;
    color: #3A3737;
    border: 1px solid #BFCBC9 ;
    margin-left: auto;
    margin-right: auto;
    }

#cardN{
    text-align: center;
    object-position: initial;
    border-width: 20%;
    width: 16em;
    height: 1.5em;
    }
     
#btn{
        width: 3cm;
        border-color: rgb(250, 174, 59);
        background-color: khaki;
        font-size: 15px;
        padding: 5pt;
        padding-right: 7pt;
        padding-left: 7pt;
        border-radius: 15pt;
       }

.end {
        position: relative;
        text-align-last: center;
        color: grey;
     }