.general_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: brown;
    padding: 7em 8em 5em 8em;
    margin: 10em 8em 5em 8em;
    border-radius: 2em;
    background-color: rgba(236, 231, 223, 0.815);
}

.logo {
    align-content: center;
    width: 30em;
    height: 10em;
}

.statement {
    text-align: center;
    padding: 1em 2em 1em 2em;
}

.statement p {
    font-family: 'Baloo Tamma 2';
    font-size: 2em;
}

#cardN {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-width: 20%;
}

#btn{
  display: flex;
  justify-content: center;
}
#btn button{
    text-align: center;
    width: 3cm;
    border-color: rgb(230, 157, 48);
    background-color: khaki;
    font-size: 0.8em;
    padding:0.7em 0.7em 0.7em 0.7em;
    margin:1em;
    border-radius: 2em;
}

footer {
    bottom: auto;
    background-color: rgba(46, 42, 35, 0.733);
    text-align-last: center;
    color: rgba(209, 207, 230, 0.897);
    padding: 1em;
}

@media (min-width: 1024px) and (min-width: 1200px) {
    body {
        background-image: url('images/prime.jpg');
        background-size: contain;
    }
    .general_container {
        justify-items: center;
        align-items: center;
        padding: 4em 12em 2em 12em;
        margin: 1.5em 30em 1em 30em;
        border-radius: 2em;
        background-color: rgba(236, 231, 223, 0.815);
    }
    .logo {
        align-content: center;
        width: 16em;
        height: 5em;
    }
    .statement {
        text-align: center;
        padding: 0em 0em 0em 0em;
    }
    .statement p {
        font-family: 'Baloo Tamma 2';
        font-size: 1.3em;
    }
}
