.general_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 9em 8em 5em 8em;
    margin: 23em 8em 5em 8em;
    border-radius: 2em;
    background-color: rgba(236, 231, 223, 0.815);
}

.logo {
    align-content: center;
    width: 30em;
    height: 10em;
}

.statement {
    text-align: center;
    padding: 1em 2em 1em 2em;
}

.statement p {
    font-family: 'Baloo Tamma 2';
    font-size: 2.5em;
}

.inputCreditCard{
    display: flex;
    align-items: center;
    justify-content: center;
    text-justify: auto;
}
footer {
   position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(46, 42, 35, 0.733);
    text-align-last: center;
    color: rgba(209, 207, 230, 0.897);
    padding: 1em;
}
#cardN {
    text-align: center;
    padding:2em;
    font-size: 1em;
}

#btn{
  display: flex;
  justify-content: center;
}
#btn button{
    text-align: center;
    border-color: rgb(230, 157, 48);
    background-color: khaki;
    font-size: 1.3em;
    padding:1.3em;
    margin:1em;
    border-radius: 0.6em;
}


@media (min-width: 1024px) and (min-width: 1200px) {
    .general_container {
        justify-items: center;
        align-items: center;
        padding: 4em 12em 2em 12em;
        margin: 1.5em 30em 1em 30em;
        border-radius: 2em;
        background-color: rgba(236, 231, 223, 0.815);
    }
    .logo {
        align-content: center;
        width: 16em;
        height: 5em;
    }
    .statement {
        text-align: center;
        padding: 0em 0em 0em 0em;
    }
    .statement p {
        font-family: 'Baloo Tamma 2';
        font-size: 1.3em;
    }
    #btn button{
        text-align: center;
        border-color: rgb(230, 157, 48);
        background-color: khaki;
        padding:0.6em;
        margin:1em;
        border-radius: 0.6em;
    }
    #cardN {
        text-align: center;
        padding:1em;
        font-size: 1em;
    }
    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(46, 42, 35, 0.733);
        text-align-last: center;
        color: rgba(209, 207, 230, 0.897);
        padding: 1em;
    }
}
