#img  {
    padding-top: 100px;
    width: 550px;
    height: 350px;
    position: relative;

        }
   
    
.Message {
         position: relative ;
         width: 500px;
         height: 450px;
         left: calc(50% - 625px/2 + 0.5px);
         top: calc(50% - 593px/2 + 0.5px);
         border: 1px solid #000000;
          }

.Texto {
    position: absolute;
    width: 400px;
    height: 190px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 72px;
    text-align: justify;
    /* or 112% */
    align-items: justify;
    text-indent: 2px;
    color: #3A3737;
    mix-blend-mode: normal;
    }
    
    
    .Validator{
        size: 60pt;
        border-bottom: black;
        font-size: 15px;
        padding: 5pt;
        padding-right: 7pt;
        padding-left: 7pt;
        border-radius: 15pt;
    }